<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.enilink.komma.model.modules">
      <module
            class="net.enilink.ldp.LdpModule">
      </module>
   </extension>
   <extension
         point="net.enilink.komma.model.modelModules">
      <module
            class="net.enilink.ldp.sail.LdpModelModule">
      </module>
   </extension>
</plugin>
