<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="selectionProviders" name="Selection Providers" schema="schema/selectionProviders.exsd"/>
   <extension
         id="application"
         name="Lift application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.enilink.lift.eclipse.LiftApplication">
         </run>
      </application>
   </extension>

</plugin>
