<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
			point="org.eclipse.ui.views">
		<view
				class="net.enilink.platform.workbench.ModelsView"
				icon="img/enilink/models.png"
				id="net.enilink.rap.workbench.modelsView"
				name="Models"
				restorable="true">
		</view>
		<view
				class="net.enilink.platform.workbench.AclView"
				icon="img/enilink/control-panel-access-icon.png"
				id="net.enilink.platform.workbench.aclView"
				name="Access control"
				restorable="true">
		</view>
		<view
				class="net.enilink.platform.workbench.HistoryView"
				icon="img/enilink/control-panel-access-icon.png"
				id="net.enilink.platform.workbench.historyView"
				name="History"
				restorable="true">
		</view>
	</extension>
	<extension
			point="org.eclipse.ui.perspectives">
		<perspective
				class="net.enilink.platform.workbench.ModelsPerspective"
				icon="img/enilink/models.png"
				id="net.enilink.platform.workbench.basicPerspective"
				name="Models">
		</perspective>
	</extension>
	<extension
			point="org.eclipse.ui.editors">
		<editor
				class="net.enilink.platform.workbench.BasicModelEditor"
				contributorClass="net.enilink.platform.workbench.BasicModelEditorBarContributor"
				default="false"
				id="net.enilink.platform.workbench.modelEditor"
				icon="img/enilink/models.png"
				matchingStrategy="net.enilink.platform.workbench.ModelEditorMatchingStrategy"
				name="Model Editor">
		</editor>
	</extension>

	<extension
			id="com.sun.security.auth.module.Krb5LoginModule"
			point="org.eclipse.equinox.security.loginModule">
		<loginModule
				class="com.sun.security.auth.module.Krb5LoginModule"
				description="Kerberos LoginModule">
		</loginModule>
	</extension>

	<extension
			point="org.eclipse.equinox.security.callbackHandlerMapping">
		<callbackHandlerMapping
				callbackHandlerId="net.enilink.platform.security.callbackHandler"
				configName="Kerberos">
		</callbackHandlerMapping>
	</extension>
	<extension
			point="org.eclipse.equinox.security.callbackHandlerMapping">
		<callbackHandlerMapping
				callbackHandlerId="net.enilink.platform.security.callbackHandler"
				configName="OpenID">
		</callbackHandlerMapping>
	</extension>

	<extension
			id="application"
			point="org.eclipse.core.runtime.applications">
		<application
				cardinality="singleton-global"
				thread="main"
				visible="true">
			<run
					class="net.enilink.platform.workbench.Application">
			</run>
		</application>
	</extension>
	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				allPopups="false"
				locationURI="toolbar:net.enilink.platform.statusArea">
			<dynamic
					class="net.enilink.platform.workbench.auth.UserMenu"
					id="net.enilink.platform.workbench.auth.UserMenu">
			</dynamic>
		</menuContribution>
	</extension>
	<extension
			point="org.eclipse.rap.ui.entrypoint">
		<entrypoint
				applicationId="net.enilink.platform.workbench.application"
				brandingId="net.enilink.platform.branding"
				id="net.enilink.platform.workbench.entrypoint"
				path="/workbench">
		</entrypoint>
		<entrypoint
				class="net.enilink.platform.internal.workbench.SnippetRunner"
				id="net.enilink.platform.internal.workbench.SnippetRunner"
				path="/snippet">
		</entrypoint>
	</extension>
	<extension
			id="net.enilink.platform.security.callbackHandler"
			point="org.eclipse.equinox.security.callbackHandler">
		<callbackHandler
				class="net.enilink.platform.workbench.auth.LoginDialog">
		</callbackHandler>
	</extension>
	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				locationURI="toolbar:org.eclipse.ui.main.toolbar">
			<toolbar
					id="net.enilink.platform.workbench.toolbar1">
				<command
						commandId="net.enilink.platform.workbench.command.uploadModel"
						icon="img/add-icon.png"
						id="net.enilink.platform.workbench.addModelToolbar"
						label="Add model"
						style="pulldown"
						tooltip="Adds a new model.">
					<visibleWhen
							checkEnabled="true">
						<with
								variable="activeWorkbenchWindow.activePerspective">
							<equals
									value="net.enilink.platform.workbench.basicPerspective">
							</equals>
						</with>
					</visibleWhen>
				</command>
				<command
						commandId="net.enilink.platform.workbench.command.uploadData"
						icon="img/actions-file-upload-icon.png"
						id="net.enilink.platform.workbench.uploadDataToolbar"
						label="Upload data"
						style="pulldown">
					<visibleWhen
							checkEnabled="true">
						<with
								variable="activeWorkbenchWindow.activePerspective">
							<equals
									value="net.enilink.platform.workbench.basicPerspective">
							</equals>
						</with>
					</visibleWhen>
				</command>
				<command
						commandId="net.enilink.platform.workbench.command.clearModel"
						icon="img/delete-icon.png"
						id="net.enilink.platform.workbench.clearModel"
						label="Clear model"
						style="push"
						tooltip="Removes all data from the model.">
					<visibleWhen
							checkEnabled="true">
						<with
								variable="activeWorkbenchWindow.activePerspective">
							<equals
									value="net.enilink.platform.workbench.basicPerspective">
							</equals>
						</with>
					</visibleWhen>
				</command>
			</toolbar>
		</menuContribution>
		<menuContribution
				locationURI="menu:org.eclipse.ui.main.menu">
			<menu
					label="Edit">
			</menu>
		</menuContribution>
		<menuContribution
				locationURI="menu:net.enilink.platform.workbench.addModelToolbar">
			<command
					commandId="net.enilink.platform.workbench.command.createModel"
					icon="img/actions-file-new-icon.png"
					label="Create model"
					style="pulldown">
			</command>
			<command
					commandId="net.enilink.platform.workbench.command.uploadModel"
					icon="img/actions-file-upload-icon.png"
					label="Upload model"
					style="pulldown">
			</command>
		</menuContribution>
		<menuContribution
				allPopups="false"
				locationURI="toolbar:org.eclipse.ui.trim.status">
			<control
					class="net.enilink.platform.workbench.ModelContextContribution">
			</control>
		</menuContribution>
		<menuContribution
				locationURI="popup:net.enilink.rap.workbench.modelsView">
			<command
					commandId="net.enilink.platform.workbench.command.deleteModel"
					icon="img/delete-icon-16px.png"
					id="net.enilink.platform.workbench.deleteModel"
					label="Delete model"
					style="push"
					tooltip="Delete the model.">
			</command>
		</menuContribution>
	</extension>
	<extension
			point="org.eclipse.ui.commands">
		<command
				defaultHandler="net.enilink.platform.workbench.commands.UploadModelCommandHandler"
				id="net.enilink.platform.workbench.command.uploadModel"
				name="UploadModelCommand">
		</command>
		<command
				defaultHandler="net.enilink.platform.workbench.commands.CreateModelCommandHandler"
				id="net.enilink.platform.workbench.command.createModel"
				name="CreateModelCommand">
		</command>
		<command
				defaultHandler="net.enilink.platform.workbench.commands.UploadDataCommandHandler"
				id="net.enilink.platform.workbench.command.uploadData"
				name="UploadDataCommand">
		</command>
		<command
				defaultHandler="net.enilink.platform.workbench.commands.ClearModelCommandHandler"
				id="net.enilink.platform.workbench.command.clearModel"
				name="ClearModelCommand">
		</command>
		<command
				defaultHandler="net.enilink.platform.workbench.commands.DeleteModelCommandHandler"
				id="net.enilink.platform.workbench.command.deleteModel"
				name="DeleteModelCommand">
		</command>
	</extension>
	<extension
			point="net.enilink.komma.model.modules">
		<module
				class="net.enilink.platform.workbench.model.WorkbenchModule">
		</module>
	</extension>
</plugin>
