<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="EnilinkLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="net.enilink.auth.EnilinkLoginModule">
      </loginModule>
   </extension>
   <extension
         point="net.enilink.komma.model.modules">
      <module
            class="net.enilink.auth.AuthModule">
      </module>
   </extension>

</plugin>
